@{
    ViewData["Title"] = "Pagrindinis";
}

<div class="text-center">
    <h1 class="display-4">SŽP</h1>
</div>

<div style="font-size:14pt;">
    <b>I iteracijos funkcionalumai</b>
    <ul>
        <li>Vartotojo registracija.</li>
        <li>Vartotojo prisijungimas ir autentifikacija.</li>
        <li>Stalo žaidimų CRUD.</li>
    </ul>

	<b>II iteracijos funkcionalumai</b>
    <ul>
        <li>Skelbimo į partnerio paiešką CRUD.</li>
        <li>Funkcija pasisiūlyti partneriu konkrečiam skelbimui.</li>
    </ul>

	<b>III iteracijos funkcionalumai</b>
    <ul>
        <li>Stalo žaidimo bendruomenės CRUD.</li>
        <li>Bendruomenės nario autentifikacija ir funkcija tapti nariu.</li>
    </ul>

	<b>IV iteracijos funkcionalumai</b>
    <ul>
        <li>Vartotojo sąsaja.</li>
        <li>Sistemos administratoriaus sąsaja.</li>
    </ul>
</div>
